* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
  #hero {
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  main {
    max-width: 700px;
    margin: auto;
  }
}

@media (min-width: 1025px) {
  main {
    max-width: 1000px;
    margin: auto;
  }

  #features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}